/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/myPublic/node_modules/
/.*
/app/
/artisan
/bootstrap
/composer.json
/composer.lock
/config/
/database/
/public/
/resources/
/routes/
/server.php
/storage/
/tests/
/webpack.mix.js
/phpunit.xml
/package.json
/README.md
